* {
  box-sizing: border-box;
}

$bg: #fff;
$alt: #00f;
$alt_lighter: rgba($alt, 0.03);
$list-item: #939393;
$list-item_empty: #939393;
$list-item_active: #000;
$editor-title-placeholder: #ddd;

body {
  margin: 0;
  // background: #fffacf;
  font-family: 'helvetica';
  background: $bg;
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block;
  color: $editor-title-placeholder;
}

.editor {
  width: 600px;
  position: relative;
  margin: 80px auto;
  &-title, &-body {
    // background: #fff;
    padding: 8px 16px;
  }
  &-title:focus, &-body:focus {
    outline: none;
  }
  &-title {
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 20px;
    border-left: 3px solid $alt;
    // background: $alt_lighter;
  }
  &-body {
    font-size: 18px;
    min-height: 60vh;
  }
}

.list {
  position: fixed;;
  top: 0;
  bottom: 0;
  right: 10px;
  width: 200px;
  height: 300px;
  margin: auto;
  // background: #eee;
  padding: 10px;
  text-align: right;
  &-item {
    position: relative;
    margin-bottom: 8px;
    font-size: 12px;
    cursor: pointer;
    padding-right: 10px;
    box-sizing: border-box;
    border-right: 2px solid $bg;
    color: $list-item;
    span.empty {
      color: $list-item_empty;
    }
    &.active {
      border-color: $alt;
      color: $list-item_active;
    }
  }
  &-new {
    margin-top: 20px;
  }
}

button {
  border: 2px solid $alt;
  background: none;
  color: $alt;
  font-weight: 600;
  &:focus {
    outline: none;
  }
  &:active {
    background: $alt;
    color: #fff;
  }
}
